@charset "UTF-8";

html {
	background-color: lightskyblue;
	font-family: "Trebuchet MS", Verdana, sans-serif;
	color: black;
	font-size: 10px;
}

body {
	margin: 0 auto;
	min-width: 768px;
	max-width: 1024px;
}

header {
	font-size: 1.8rem;
}
/* STEP 1: Float the HEADER IMG to the left */
header img {
	float: left;
}

header a {
	text-decoration: none;
}
/* STEP 2: Set the text-align for both the HEADER H1 and the HEADER H2 to right */
header h1,
header h2 {
	text-align: right;
}
/* STEP 3a: Reduce the margin-bottom of the HEADER H1 to zero */
header h1 {
	margin-bottom: 0;
}
/* STEP 3b: Set HEADER H2 margin-top to zero */
header h2 {
	margin-top: 0;
	text-transform: uppercase;
}

/* STEP 4d: Remove padding-left from the UL */
header nav ul {
	padding-left: 0;
}

/* STEP 4a + 4b + 4c: Style LI elements, then remove border afterwards */
header nav li {
	/* border: 1px dashed red; */
	display: inline-block;
	margin-right: 0.5em;
}

main {
	font-size: 1.8rem;
	line-height: 1.5;
	text-align: justify;
	background-color: white;
	display: flex;
	flex-direction: row;
}

/* STEP 5a + 5b: Add border then remove & add padding */
main section {
	/* border: 1px dotted hotpink; */
	width: 60%;
	padding: 1em;
}

main section time {
	font-style: italic;
}

/* STEP 5c: Add border then remove, padding top/right/bottom */
main aside {
	/* border: 1px dotted blue; */
	width: 40%;
	padding: 1em 1em 1em 0;
}

/* STEP 7a + 7b: Target block images and shift left */
aside img[alt$="block"] {
	position: relative;
	left: -3rem;
}

.new-feature {
	padding-left: 25px;
	background-image: url("../images/new.png");
	background-repeat: no-repeat;
	background-position: top left;
}

#emailAddress {
	font-weight: bold;
}

[rel="external"] {
	padding-right: 20px;
	background-image: url("../images/extlink.png");
	background-repeat: no-repeat;
	background-position: top right;
}

main a {
	text-decoration: none;
	color: lightskyblue;
	font-weight: bold;
}

main a:hover {
	text-decoration: underline;
	color: orange;
}

blockquote::first-letter {
	font-size: 2em;
}

/* STEP 6: Add margin-top to FOOTER */
footer {
	margin-top: 2rem;
	font-size: 1.6rem;
}

footer p {
	text-align: right;
}

section > p {
	text-indent: 2em;
}

h1, h2, footer {
	color: white;
}
